
.ii {
    height: 68px;
    width: auto;
    background-color: rgba(39, 167, 7, 0.692);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.con{ 
    display: flex;
    flex-wrap: wrap;
    
    

}

.home {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    justify-content: end;
    
}
.img{
    height: 500px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: 1s;
    
}
.mdd{ 
    
    margin-left: 45%;
    margin-right: 50%;
  

}
.wc{
    background-color:  rgba(20, 80, 5, 0.692); 
    text-align: center;
    height: 35px;
    width: 129px;
    color: white;
    margin-top: -250px;
    opacity: 0;
    transition: 1s;
    backface-visibility: hidden;

}


.ft{
     display: flex;
     flex-direction: row;
     height: 300px;
     width: 100%;
     background-color: rgba(39, 167, 7, 0.692); 
     margin-top: 90px;
}
.co{ 
  
    width: 25%;
    text-align: center;
}
.con:hover .img{

    opacity: 0.3;
}
.con:hover .wc{
    opacity: 1;

}


.d{
    
    width: 25%;
    text-align: center;
}


.sev{
    margin: 14px;
    width: 25%;
    text-align: center;
    margin-top: 2px;
}
.mp{
    padding: 25px;
}
h2{
    padding: 8px;
}
.fm{
    display: flex;

    justify-content: center;

}
h1{
    text-align: center;
}
.ft1{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    height: 300px;
    width: 100%;
    background-color: rgba(39, 167, 7, 0.692); 
    margin-top: 90px;
}
.login{
    height: 500px;
    display: flex;

    justify-content: center;
}
button{
    margin-left: 50%;
}